<div class="container mt-4">
  <h4>Historique des actions</h4>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Utilisateur</th>
        <th>Action</th>
        <th>Date</th>
                <th>Details</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of historiques; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ h.user.username }}</td>
        <td>{{ h.action }}</td>
        <td>{{ h.timestamp | date: 'short' }}</td>
                <td>{{ h.details }}</td>

      </tr>
    </tbody>
  </table>
</div>
